body{
margin: 0;
padding: 0;
background: grey;
}
button{
	background: red;
width: 100px;
height: 30px;
margin-top: 15px;
}
.container{
margin: 0 auto;
max-width: 1250px;
}
.container__header{
	display: flex;
justify-content: space-between;
}
.shop__btn{
	color: white;
	font-size: 15px;
	border-radius: 12px;
	
}
.shop__list{
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.shop__item{
	position: relative;
}
.shop__item_title{
	position: absolute;
	color: black;
	top: 3px;
	left: 120px;
font-size: 200%;
}
.shop__img{
width: 400px;
height: 300px;
object-fit: cover;
}
.shop__btn{
	position: relative;
	left: 100px;
transition: all 1s;


}
.activeBtn{
background: white;
color: black;
border-radius: 15px;
transition: all 1s;
}
.shop__item_title_1{
	position: absolute;
	color: black;
	top: 3px;
	left: 120px;
font-size: 200%;
}
.shop__text{
	margin: 0 auto;
	display: block;
}

.menu{
max-width: 1250px;
margin-top: 20px;
margin: 0 auto;
bac
}
.menuBtn{
	border-radius: 10px;
	background: grey;
padding: 5px;
font-size: 18px;
/*animation: anim 4s infinite ease-in-out;*/


}
.menu__list{
	list-style: none;
	font-size: 17px;
	background: white;
	max-width: 100px;
	color: red;
	padding: 5px;
	border: 3px solid lightcyan;
	border-radius: 10px;
	transition: all 1s;
	opacity: 0;
transform: translateX(-250px);

}
.menu_active{
	opacity: 1;
	transition: all 1s;
	transform: translateY(0%);
}

@keyframes anim{
	0%{
		transform: translateX(100px);
	}

	50%{
transform: translateX(-100PX);
	}

	100%{
transform: translateX(100PX);
	}
}
.itc-slider-indicator-active{
	background-color: rgb(255 255 255 / 90%);
}
.itc-slider{
	width: 500px;
	margin: 0 auto;
}
.itc-slider-item img{
	width: 100%;
}
.menu_title{
	max-width: 1250px;
margin-top: 20px;
margin: 0 auto;
	
}

.change_color{
	background: red;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.themes{
	border:2px solid white;
	width:  50px;
	padding: 3px;
	border-radius: 15px;
	background: whitesmoke;
}
.menu{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.theme__white{
	border:2px solid black;
	width:  20px;
	padding: 3px;
	border-radius: 15px;
	background: whitesmoke;
}
.theme__dark{
	border:2px solid white;
	width:  20px;
	padding: 3px;
	border-radius: 15px;
	background: whitesmoke;
}
.theme__list{
	list-style: none;
}
.nav__item{
	list-style: none;
	color: skyblue;
	font-size: 24px;
	margin-right: 8px;
	opacity: 0;
}
.menu__navi	{
	display: flex;
	flex-direction: column;
	background: whitesmoke;
	/*position: absolute;
	right: 0px;
	height: 40vh;
	top: 225px;*/

}
.burger__line{
	width: 50px;
	height: 6px;
	background: white;
	margin: 10px;
transition: all 0.5s ease;
}
.burger{
	display: none;
}.burger-checkbox{
	position: absolute;
	visibility: hidden;
}
.burger-1{
	position: relative;
	z-index: 1;
	cursor: pointer;
	width: 50px;
	height: 25px;
	background: transparent;
	border: none;
	display: block;
}
.burger-1::before,
.burger-1::after{
	content: '';
	left:0;
	position: absolute;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 10px;
	background: 0;

}
.burger-1::before{
	top: 0;
	box-shadow: 0 11px 0 #000 ;
	transition: box-shadow 0.3s 0.15s,top 0.3s 0.15s,transform: 0.3s;


}
.burger-1::after{
	bottom: 0;
	transition: bottom 0.3s 0.15s,transform 0.3s;
}
.burger-checkbox + .burger-1::before {
	top:11px;
	transform: rotate(45deg);
	box-shadow: 0 6px 0 rgba(0,0,0,0);
	transition: box-shadow .15s, top .3s,transform .3s .15s;
}
.burger-checkbox:checked + .burger-1::after {
botom:11px;
transform: rotate(-45deg);
transition: bottom .3s,transform .3s .15s;
}
.menu__list{
	top: 0;
	left: 0;
	position: absolute;
	display: grid;
	gap: 12px;
	padding: 42px 0;
	margin: 0;
	background: orange;
	list-style-type: none;
	transform: translateX(-100%);
	transition: 3s;
	width: 200px;
}
.meni__item{
	display: block;
	padding: 8px;
	color: white;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}
.meni__item:hover{
	background: rgba(255,255,255,.2);
}
.burger-checkbox:checked ~ .menu__list {
	transform:translateX(0) ;
}
@media screen and (max-width: 1000px){
	body{overflow-x:hidden;}
	.container{
margin: 0 auto;
max-width: 600px;
}

.nav__item{
	list-style: none;
	color: red;
	font-size: 24px;

}
.burger{
	display: block;
	cursor: pointer;

}
.active .burger__line_1{
	transform: rotate(-45deg) translate(-10px , 12px);
}
.active .burger__line_2{
	opacity: 0;
}
.active .burger__line_3{
	transform: rotate(45deg)translate(-10px , -12px);
}
.menu__navi	{
	display: none;	
	
	flex-direction: column;
	background: whitesmoke;
	position: absolute;
	right: 0px;
	height: 40vh;
	top: 225px;
	z-index: 2;
	align-items: center;
transform: translateX(100%);
transition: transform 0.5s ease-in;
}
.menu__navi_active{
	transform: translateX(0%);

} 
@keyframes navLinkAnim {
	from{
opacity: 0;
transform: translateX(10%);
	}
	to{
opacity: 1;
transform: translateX(0%);
	}
}
}
